mat-grid-tile{
    text-align: center;
}
mat-icon{
    padding: 3px;
    // margin: 2px 2px;    
}
mat-grid-tile {
    background: rgba(195, 216, 223, 0.637);
  }
.avg{
    margin: 9px;
}
mat-card-footer{
    padding: 9px;
  }
